@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Geist:wght@100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Oswald:wght@200..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #ffffff;
    --color-primary-dark: #ffffff;

    --color-background: #211832;
  }
  html {
    font-family: "Hanken Grotesk", sans-serif;

    background-color: var(--color-background);
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .text-primary {
    color: var(--color-primary);
  }
  .text-primary-dark {
    color: var(--color-primary-dark);
  }
}
