@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Geist:wght@100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Oswald:wght@200..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@import "tailwindcss";

* {
  box-sizing: border-box;
}

@layer base {
  :root {
    --color-primary: #ffffff;
    --color-secondary: #d0a7f2;
    --color-tertiary: #924dbf;

    --color-background: #10061f;
  }
  html {
    font-family: "Hanken Grotesk", sans-serif;

    background-color: var(--color-background);
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .text-tertiary {
    color: var(--color-tertiary);
  }
  .text-primary-dark {
    color: var(--color-primary-dark);
  }
  .bg-color-background {
    background-color: var(--color-background);
  }
  .bg-background {
    background-color: var(--color-background);
  }

  .hover\:text-secondary:hover {
    color: var(--color-secondary);
  }
  .hover\:text-tertiary:hover {
    color: var(--color-tertiary);
  }
}

button {
  @apply cursor-pointer;
}
